In [1]:
import numpy, pandas
from sqlalchemy import create_engine

dbConn = create_engine('mysql+pymysql://<DBUSER>:<DBPWD>@localhost/epiviz')

Database measurements

In [2]:
from measurements.measurementClass import DbMeasurement
# measuremment name, column name, table name, database name
dbm = DbMeasurement("db", "cancer", "cancer", "gene_expression", "epiviz", dbConn=dbConn)
result, _ = await dbm.get_data("chr11", 30064187, 31184187, bin=True)
# result.describe()
result.head()

                        chr cancer     start       end
(30064187, 30064747]  chr11   None  30064187  30064747
(30064747, 30065307]  chr11   None  30064747  30065307
(30065307, 30065867]  chr11   None  30065307  30065867
(30065867, 30066427]  chr11   None  30065867  30066427
(30066427, 30066987]  chr11   None  30066427  30066987

File measurements

In [4]:
from measurements.measurementClass import FileMeasurement
# file type, file id, file name, file source
filem = FileMeasurement("bigwig", "39033", "39033", "http://obj.umiacs.umd.edu/bigwig-files/39033.bigwig")
# result, _ = filem.get_data('chr8', 115443360, 115443460)
result, _ = await filem.get_data("chr11", 30064187, 31184187)
# result.describe()
result.head()

     chr     start       end     39033
0  chr11  30064128  30064640  0.295742
1  chr11  30064640  30065152  0.283360
2  chr11  30065152  30065664  0.578460
3  chr11  30065664  30066176  0.458707
4  chr11  30066176  30066688  0.427106

Computed measurements

In [7]:
from measurements.measurementClass import ComputedMeasurement
computem = ComputedMeasurement("computed", "test_compute", "compute avg", measurements=[dbm, filem], computeFunc=numpy.sum)

result,_ = await computem.get_data("chr11", 30064187, 31184187)
result.head()

,chr,cancer,start,end,39033,test_compute
"(30252347, 30252907]",chr11,-0.0877129,30252347,30252907,0.291873,0.204160
"(30252907, 30253467]",chr11,-0.0877129,30252907,30253467,0.216159,0.128446
"(30253467, 30254027]",chr11,-0.0877129,30253467,30254027,0.165066,0.077353
"(30254027, 30254587]",chr11,-0.0877129,30254027,30254587,0.22556,0.137847
"(30254587, 30255147]",chr11,-0.0877129,30254587,30255147,0.632859,0.545146